.grid-container {
    margin: 30px;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.cardOrder {
  display : flex;
  justify-content: space-between;
}
.total{
  font-size: 20px;

}
.textIcon{
    text-indent: 40px;
    font-weight:normal;
}
.mat-elevation-z4{
  text-align: center;
  height: 450px;
  overflow: hidden;
}
.mat-elevation-z4:hover{
  box-shadow: 0 8px 16px 0 rgb(155, 156, 158);
}
.price{
  color: grey;
font-size: 22px;
}
.title{
  background-color: #282A35;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}
