<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar (click)="drawer.toggle()" style="cursor:pointer">
      <mat-icon>menu</mat-icon><b class="textIcon">Menu</b>
    </mat-toolbar>
    <hr>
    <mat-nav-list *ngIf="!showAdmin">
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon><b class="textIcon">Home</b>
      </a>
     
      <a mat-list-item (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon><b class="textIcon">Cart</b>
      </a>
      <a mat-list-item (click)="openAccount()">
        <mat-icon>account_circle</mat-icon><b class="textIcon">Account</b>
      </a>

      <a mat-list-item (click)="openBill()">
        <mat-icon>departure_board</mat-icon><b class="textIcon">Bill</b>
      </a>
      <hr>
      <a mat-list-item (click)="openAnalysis()">
        <mat-icon>timeline</mat-icon><b class="textIcon">Top Sell</b>
      </a>
      <a mat-list-item (click)="openChat()">
        <mat-icon>question_answer</mat-icon><b class="textIcon">Chat</b>
      </a>
      <a mat-list-item>
        <mat-icon>settings</mat-icon><b class="textIcon">Setting</b>
      </a>
      <a mat-list-item (click)="openContact()">
        <mat-icon>call</mat-icon><b class="textIcon">Contact</b>
      </a>
      <hr>
      <a mat-list-item>
        <mat-icon>feedback</mat-icon><b class="textIcon">Send FeedBack</b>
      </a>
      <a mat-list-item>
        <mat-icon>help</mat-icon><b class="textIcon">Help</b>
      </a>
      <a mat-list-item (click)="openMap()">
        <mat-icon>room</mat-icon><b class="textIcon">Location</b>
      </a>
      <a mat-list-item (click)="openAboutUs()">
        <mat-icon>business</mat-icon><b class="textIcon">About Gz</b>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="showAdmin">
      <a mat-list-item routerLink="/manage/computer">
        <mat-icon>laptop</mat-icon><b class="textIcon">Computer</b>
      </a>
      <a mat-list-item routerLink="/manage/bill">
        <mat-icon>shopping_cart</mat-icon><b class="textIcon">Bill</b>
      </a>
      <a mat-list-item (click)="openAccount()">
        <mat-icon>account_circle</mat-icon><b class="textIcon">Account</b>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-button matTooltip="Gz Home" routerLink="/home" *ngIf="!showAdmin" class="home">
        <mat-icon style="margin-right: 10px;">laptop</mat-icon> GammaZeta Computer
      </button>
      <button mat-button routerLink="/manage/computer" *ngIf="showAdmin">
        <mat-icon>laptop</mat-icon> Gz Computer Manage
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button *ngIf="!showAdmin">
        <mat-icon matTooltip="my cart" (click)="openCart()">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matTooltip="Account" (click)="openAccount()">account_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>